* {

    margin: 0;
    padding: 0;

    }

    body {

        height: 100vh;
        background-color:antiquewhite;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        color: rgb(14, 3, 15);

        }

   .cabecalho {

padding: 2% 2% 2% 25%;

    }

.cabecalho-menu {

    display: flex;
    gap: 80px;

    }

.cabecalho-menu-links {

font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-size: 24px;
 font-weight: 600;
 color: rgb(49, 37, 60);
 text-decoration: none;

} 

.titulo-destaque {

color:black

}

.conteudo {

height: auto;
flex-direction: column;
margin: 10%;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 15px;

}

.apresentacao-conteudo {

width: 615px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
height: auto;
gap: 40px;
order: 2;
}

.apresentacao-conteudo-titulo{

font-size: 36px;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: justify;

}

.apresentacao-conteudo-paragrafo {

font-size: 24px;
font-family: Georgia, 'Times New Roman', Times, serif
text-align: justify;

} 

.botao1 {

background-color:antiquewhite;
color:rgb(108, 37, 112);
width: 500px;
height: 80px;
text-align: center;
align-items: center;
border: 2px solid #000;
border-radius: 50px;
font-size: 36px;
padding: 15px 0;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 2px;
text-transform: uppercase;
position: relative;
overflow: hidden;

}

.botao1::before {

content: "";
position: absolute;
top: 0;
left: -100%;
width: 100%;
height: 100%;
background: linear-gradient(45 deg, transparent antiquewhite);
transition: 0.5s;

}